RFC 7622

http://www.rfc-editor.org/rfc/rfc7622.txt

> As specified in RFCs 3920 and 6122, the XMPP address format used the
   "stringprep" technology for preparation and comparison of non-ASCII
   characters [RFC3454].  Following the movement of internationalized
   domain names away from stringprep, this document defines the XMPP
   address format in a way that no longer depends on stringprep (see the
   Preparation, Enforcement, and Comparison of Internationalized Strings
   (PRECIS) problem statement [RFC6885]).  Instead, this document builds
   upon the internationalization framework defined by the IETF's PRECIS
   working group [RFC7564].

https://github.com/ezzatron/precis-js seems like a good candidate

@ezzatron any thoughts? 

http://www.bortzmeyer.org/7622.html [FR]
http://www.bortzmeyer.org/7564.html [FR]

@sonnyp There are some things I'm not super confident about (see ezzatron/precis-js#1 for a current list of concerns). More eyes on it are very welcome. Perhaps try contacting the RFC author (@stpeter) and see what he thinks too?

In principle though, yes, I'd love for precis-js to see some use. I'm not *quite* confident enough in the implementation to want to publish it to NPM just yet.

@ezzatron can you publish as 0.something ?

According to semver it's fine to use 0 major version during development cycle.

Published as [precis-js](https://www.npmjs.com/package/precis-js); not to be confused with `precis` (which is something else).

@ezzatron thanks!

@ezzatron looks like percis-js is taking form thanks ! Would you like to have a take at precis-js powered node-xmpp-jid?

@sonnyp Unfortunately it's probably not something I can take on right now, as I have a fairly ridiculous stack of projects to maintain already (I'm sure you can relate). The other obstacle is that I don't have any XMPP knowledge at all.

I actually wrote `precis-js` simply to deal with Unicode usernames and passwords on a toy project, because there are no available stringprep implementations that could feasibly work in a browser. I only learned that it was relevant to XMPP later.

I'm more than happy to help with advice on integrating `precis-js` into this repo if that's helpful, but I just don't have the time to read, and to *really* understand another bunch of RFCs at the moment.

Side note, there are still some serious issues with `precis-js`, brought up just a couple of days ago in eloquent/precis-js#1, and further documented in eloquent/precis-js#6 and eloquent/precis-js#7. And there's also (potentially) a big problem with PRECIS itself (see [this discussion](https://mailarchive.ietf.org/arch/msg/precis/Jua858TgnE6GFGb5XUnPqPK3CmQ)).